.WatchPage {
}

.WatchPage svg {
  font-size: 22px;
  margin-right: 5px;
  transform: translateY(1px);
}

.WatchPageVideo {
  width: 800px;
}

.WatchPageVideo {
}

.WatchPageRight {
}

.WatchPageVideoInfo {
  font-size: 14px;
}

.WatchPageVideoTitle {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.WatchPageVideoBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.WatchPageVideoViewCount {
  color: rgb(107, 109, 111);
}

.WatchPageVideoLikeAndDislikeCount {
  display: flex;
}
.WatchPageVideoLikeCount,
.WatchPageVideoDislikeCount {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.WatchPageVideoLikeCount {
  margin-right: 10px;
}

.WatchPageVideoPlayList,
.WatchPageVideoLikeCount,
.WatchPageVideoDislikeCount {
  text-transform: uppercase;
  font-weight: 600;
}

.WatchPageVideoPlayList {
  display: flex;
  align-items: center;
  cursor: pointer;
}
