.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 100px;
  background-color: white;
  z-index: 10;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.HeaderLeft,
.HeaderMiddle,
.HeaderRight {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.HeaderLeft {
  justify-content: flex-start;
}

.HeaderLeft {
  cursor: pointer;
}
.HeaderForm {
  border: 1px solid #d1d1d1;
  width: 400px;
  display: flex;
  align-items: center;
}
.HeaderForm input {
  outline: none;
  border: none;
  flex: 1;
  padding-inline: 5px;
}
.HeaderForm button {
  border: none;
  background-color: #f1f1f1;
  padding: 8px 5px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeaderRight {
  justify-content: flex-end;
}

.HeaderRightUser {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  position: relative;
  user-select: none;
}

.HeaderRightUser span {
  margin-right: 10px;
}

.HeaderRightUser img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.HeaderRightUserNotification {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  white-space: nowrap;
  display: none;
  opacity: 0;
}

.HeaderRightUserNotificationItem {
  padding: 5px 10px;
  text-align: right;
  cursor: pointer;
  display: block;
}

.HeaderRightUserNotificationItem:hover {
  background-color: rgb(133, 188, 233);
}

#HeaderRightUserNotificationInput:checked + .HeaderRightUserNotification {
  display: block;
  opacity: 1;
  animation: fadeIn ease 0.5s;
}
