.PlayListItem {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
}
.PlayListItem.active {
  background-color: rgb(164, 223, 248);
}
.PlayListItemThumbnail {
  height: 82px;
  width: 120px;
}
.PlayListItemThumbnail img {
  height: 82px;
  width: 120px;
  object-fit: cover;
}

.WatchPagePlayListItem {
  height: 60px;
  width: 100px;
}
.WatchPagePlayListItem img {
  height: 60px;
  width: 100px;
}

.PlayListItemInfo {
  margin-left: 20px;
}

.PlayListItemInfo.IsPlaying {
  padding-right: 30px;
  position: relative;
}

.IsPlaying span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.PlayListItemTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 32px;
}

.PlayListItemChannelTitle {
  font-size: 12px;
  margin-top: 10px;
}
