.App {
  width: 1200px;
  margin: 0 auto;
}

.Container {
  width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.Btn {
  border: none;
}

.Page {
  margin-top: 60px;
  padding: 20px 0;
}
.Page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f6f6f6;
  z-index: -1;
}

.OverLay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(119, 116, 116, 0.485);
  z-index: 11;
}
